#### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python' 

실행 예

p t

In [13]:
letters='python'
print(letters[0] , letters[2])

p t

#### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

실행 예: 2210

In [17]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

#### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"

실행 예:

홀홀홀

In [22]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

#### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"

실행 예:

NOHTYP

In [35]:
string = "PYTHON"
print(string[::-1])

NOHTYP

#### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

실행 예

010 1111 2222

In [39]:
phone_number = "010-1111-2222"
pn = phone_number.replace('-',' ')
pn

'010 1111 2222'

#### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [41]:
pn
pn.replace(' ','')

'01011112222'

#### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.


url = "http://sharebook.kr"

실행 예:

kr

In [45]:
url = "http://sharebook.kr"
url[-2:]

url_split = url.split('.')
url_split[-1]

'kr'

#### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

lang = 'python'

lang[0] = 'P'

print(lang)

In [51]:
lang = 'python'

lang[0] = 'P'

print(lang)
# 문자열은 수정 불가능

TypeError: 'str' object does not support item assignment

#### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

실행 예:

Abcdfe2A354A32A

In [50]:
string = 'abcdfe2a354a32a'
str_ = string.replace('a','A')
str_

'Abcdfe2A354A32A'

#### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'

string.replace('b', 'B')

print(string)

In [1]:
# replace가 원본반영을 안하므로 abcd 출력

string = 'abcd'

string.replace('b', 'B')

print(string)

abcd

#### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

a = "3"

b = "4"

print(a + b)

#### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

#### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

실행 예: --------------------------------------------------------------------------------

#### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'

t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

#### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

이름: 김민수 나이: 10

이름: 이철희 나이: 13

#### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

#### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

#### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"

#### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

#### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

#### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

#### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

#### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

#### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

#### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

#### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

#### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

#### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

#### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

#### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "